.container {
  height: 100%;
  display: flex;
  flex-direction: column;
}
.content {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}
.groupBtn {
  display: flex;
  justify-content: end;
  padding: 50px;
  gap: 25px;
}
.groupBtn button {
  padding: 10px 45px;
  border: none;
  background-color: #1da1f2;
  border-radius: 21px;
  color: #fff;
  font-weight: 600;
  cursor: pointer;
}
.groupBtn a {
  text-decoration: none;
  color: #fff;
  font-weight: 600;
}
.left,
.right {
  width: 40%;
}
.left {
  padding-right: 30px;
}
.left img,
.right img {
  background-color: #fff;
}
.left > div,
.right > div {
  width: 100%;
  height: 80%;
  background-color: #898990;
  display: flex;
  justify-content: center;
  align-items: center;
}

.dashed {
  border-left: 3px dashed #bbb;
  padding: 15px;
}
