.container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 100%;
}
.left {
  width: 50%;
}
.left > img {
  width: 70%;
}
.left > h1 {
  font-size: 5em;
  margin-block: 10px;
  font-weight: 900;
}
.left > p {
  font-size: 2em;
  margin-block: 0;
}
.right {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: #fff;
  border-radius: 20px;
  align-items: center;
}
.right input[type="submit"] {
  font-size: 19px;
  color: #fff;
  padding: 8px 33px;

  border-radius: 50px;
  text-align: center;
  border: none;
  margin: 10px;
  font-family: auto;
}
.right input[type="submit"]:hover:enabled {
  background-color: #609de8 !important;
}
.upload {
  display: flex;
  flex-direction: column;
  height: 80%;
  justify-content: space-evenly;
  align-items: center;
}
.label {
  color: #fff;

  border-radius: 50px;
  text-align: center;
}
.label:hover {
  background-color: #609de8 !important;
}
.dashed {
  border-top: 3px dashed #bbb;
}
/* result */
.containerResult {
  height: 100%;
  display: flex;
  flex-direction: column;
}
.contentResult {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}
.groupBtnResult {
  display: flex;
  justify-content: end;
  padding: 50px;
  gap: 25px;
}
.groupBtnResult button {
  padding: 10px 45px;
  border: none;
  background-color: #1da1f2;
  border-radius: 21px;
  color: #fff;
  font-weight: 600;
  cursor: pointer;
}
.groupBtnResult button:hover {
  background-color: #609de8;
}
.groupBtnResult a {
  text-decoration: none;
  color: #fff;
  font-weight: 600;
}
.leftResult,
.rightResult {
  width: 40%;
}
.leftResult {
  padding-right: 30px;
}
.leftResult img,
.rightResult img {
  background-color: #fff;
}
.leftResult > div,
.rightResult > div {
  width: 100%;
  height: 80%;
  background-color: #898990;
  display: flex;
  justify-content: center;
  align-items: center;
}

.dashedResult {
  border-left: 3px dashed #bbb;
  padding: 15px;
}
.container-loader {
  position: fixed;
  width: 100vw;
  height: 100vh;
  /* background-color: #c0c0c0; */
  /* opacity: 0.3; */
  pointer-events: none;
}
.custom-loader {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100px;
  height: 100px;
  border: 5px solid rgba(0, 0, 0, 0.1); /* Light border */
  border-top: 7px solid #f8f9fc; /* Blue border for spinner effect */
  border-radius: 50%;
  animation: spin 1s linear infinite; /* Infinite spinning animation */
  z-index: 9999; /* Ensure it is above everything */
}

@keyframes spin {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }
  100% {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}
